html(ng-app="todoApp")

head

  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")

  title
    Todo-ist

  link(rel="stylesheet", href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
  link(rel="stylesheet", href="/static/styles/main.css")

  script(src="https://code.jquery.com/jquery-2.2.3.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.js")

body(ng-controller="mainController", ng-cloak)

  div(class="container")
    
    div(class="jumbotron text-center")
      h1 I'm a Todo-aholic
        span(class="label label-info") {{ todos.length }}

    div(id="todo-list", class="row")
      div(class="col-sm-4 col-sm-offset-4")
        div(class="checkbox", ng-repeat="todo in todos")
          label
            input(type="checkbox", ng-click="deleteTask(todo._id)")
            | {{ todo.text }}

    <hr/>

    div(id="todo-form", class="row")
      div(class="col-sm-10 col-sm-offset-1 text-center")
          
          form(class="input-group" ng-submit="addTask()")
            input(type="text" class="form-control", placeholder="My new awesome task", ng-model="task")
            span(class="input-group-btn")
              button(class="btn btn-default") Add!



  script(src="https://code.angularjs.org/1.3.0-rc.1/angular.min.js")
  script(src="/static/javascript/core.js")